In [1]:
class Employee:
    'Common base class for all employees'
    empCount = 0
    
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        Employee.empCount += 1
        
    def displayCount(self):
        print ("Total Employee %d" % Employee.empCount)
        
    def displayEmployee(self):
        print ("Name : ", self.name, ", Salary:", self.salary)

In [2]:
Employee.__doc__

'Common base class for all employees'

In [3]:
emp1 = Employee("Zara",2000)
emp2 = Employee("Manni", 5000)

In [16]:
emp1.displayCount()

Total Employee 2

In [5]:
emp2.displayEmployee()

Name :  Manni , Salary: 5000

In [6]:
emp2.displayCount()

Total Employee 2

In [7]:
import numpy as np

In [8]:
x = np.array([[1,2],[3,4]])

In [9]:
x.shape

(2, 2)

In [10]:
x.transpose()

array([[1, 3],
       [2, 4]])

In [14]:
emp1.__doc__

'Common base class for all employees'

In [9]:
dir(emp1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'displayCount',
 'displayEmployee',
 'empCount',
 'name',
 'salary']

In [5]:
for i in range(25.0,35.0,4):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer